img/loop_system.png~
img/.loop_logo_grey_alpha.png-autosave.kra
img/grunge.png~
img/loop_system.png~
img/loop_bug_sm.png~
img/riks_logo_black.png~
img/.grunge.png-autosave.kra
img/.riks_logo_white.png-autosave.kra

# VS Code
.idea/
logs/
