/*****************************
/
/       Colors
*****************************/
/******************************
/        Fonts
******************************/
@font-face {
  font-family: Avant;
  src: url(fonts/AvantGuard.ttf);
}
@font-face {
  font-family: SabonItalic;
  src: url(fonts/Sabon_Italic.ttf);
}
@font-face {
  font-family: SabonRoman;
  src: url(fonts/Sabon_Roman.ttf);
}
@font-face {
  font-family: Trixie;
  src: url(fonts/Trixie-Text.otf);
}
/******************************
/        Foundry overrides
******************************/
.editor-edit {
  box-shadow: none;
}
#context-menu li.context-item:hover {
  color: #f38704;
  text-shadow: none;
}
button:hover {
  box-shadow: none;
}
.window-app .window-content {
  background-color: white;
  background: white;
}
a:hover {
  box-shadow: none;
  text-shadow: none;
  color: #f38704;
}
.fa-edit:hover {
  text-shadow: none;
}
textarea {
  font-family: Trixie, 'Courier New', Courier, monospace;
  height: 100%;
}
textarea:focus {
  outline: 2px solid #f38704;
  box-shadow: 0 0 5px #ee7113;
}
.imgCheck {
  cursor: pointer;
}
.use-luck {
  cursor: pointer;
}
.reset-luck {
  cursor: pointer;
  text-align: right;
  max-width: 50px;
  padding-right: 3px;
}
.section-header {
  background-color: black;
  padding: 5px;
  margin: 0px;
  font-family: Avant, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  font-style: normal;
  justify-content: space-between;
}
.section-header .item-control {
  text-align: right;
}
.editor {
  height: auto;
  min-height: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.tox.tox-tinymce {
  border: none;
  flex: 1;
  min-height: 200px;
}
.kid-notes {
  background: #fff1da;
}
.main {
  display: table;
  margin-left: 5px;
  min-width: 70%;
  justify-content: flex-start;
}
.main #hideout {
  border: none;
  resize: none;
  height: 85%;
}
.main .notes-group {
  height: fit-content;
  background: #fff1da;
}
.main .items {
  min-height: 0px;
  background: #fff1da;
}
.main .hideout {
  flex: 1 1 auto;
  flex-direction: column;
  background: #fff1da;
  max-width: 250px;
}
.main .hideout .hideout-text {
  height: 85%;
}
.main .info-group {
  border: 1px solid black;
  border-radius: 0px;
  margin: 2px;
  padding: 0px;
  box-shadow: 2px 2px #7f7f7f;
}
.main .conditions {
  border: 1px solid black;
  border-radius: 0px;
  margin: 2px;
  padding: 0px;
  box-shadow: 2px 2px #7f7f7f;
  margin-bottom: 4px;
  margin-top: 4px;
  line-height: 15px;
  max-height: 35px;
}
.main .conditions .info-item {
  font-size: 0.85em;
  line-height: 25px;
  padding-left: 2px;
  align-content: space-between;
}
.main .conditions .info-item p {
  margin: 0px;
}
.main .conditions .info-item img {
  border: none;
  vertical-align: middle;
}
.main .conditions .info-item input {
  background: #ffffff00;
  border: none;
}
.main .conditions .special-item {
  font-size: 0.77em;
  line-height: 25px;
}
.main .conditions .special-item img {
  border: none;
  vertical-align: middle;
}
.main .conditions .section-header {
  line-height: 25px;
}
.main .info-list {
  margin: 0px;
  padding-left: 0px;
}
.main .iconic-item {
  list-style: none;
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 1em;
  background: #fedd9e;
  border-right: 1px solid black;
  border-top: 1px solid black;
  line-height: 34px;
  justify-content: space-between;
}
.main .iconic-item .item-name {
  flex: 0 0 60%;
  font-size: 0.8em;
}
.main .iconic-item .item-bonus {
  flex: 0 0 30px;
}
.main .iconic-item .item-plus {
  flex: 0 0 10px;
}
.main .iconic-item .item-control {
  flex: 0 0 30px;
  text-align: center;
}
.main .iconic-item input {
  margin-top: 3px;
  margin-right: 3px;
  background: #ffffff00;
  border: none;
  font-size: 1.2em;
}
.main .iconic-item input[type="text"]:focus {
  box-shadow: 0 0 5px #f38704;
}
.main .info-item {
  list-style: none;
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 1em;
  background: #fff1da;
  border-right: 1px solid black;
  border-top: 1px solid black;
  line-height: 34px;
  justify-content: space-between;
  align-content: space-between;
}
.main .info-item .item-name {
  flex: 0 0 60%;
}
.main .info-item .item-bonus {
  flex: 0 0 30px;
}
.main .info-item .item-plus {
  flex: 0 0 10px;
}
.main .info-item .relationship-name {
  flex: 0 0 150px;
}
.main .info-item .item-control {
  flex: 0 0 30px;
  text-align: center;
}
.main .info-item label {
  max-width: fit-content;
}
.main .info-item input {
  margin-top: 3px;
  margin-right: 3px;
  background: #ffffff00;
  border: none;
}
.main .info-item input[type="text"]:focus {
  box-shadow: 0 0 5px #f38704;
}
.main .info-item img {
  border: none;
}
.main .info-item select {
  background: #ffffff00;
  border: none;
}
.main .special-item {
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 1em;
  background: #f9bd8d;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding-top: 3px;
}
.main .special-item img {
  border: none;
  align-self: flex-end;
}
.kid-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.kid-header img {
  max-width: 50%;
}
.logo {
  border: none;
}
.sidebar {
  max-width: 30%;
}
.sidebar .name-box {
  margin: 0px;
}
.sidebar .name-box .type {
  background: #fff1da;
  border: 1px solid black;
  border-radius: 0px;
  margin: 2px;
  padding: 4px;
  box-shadow: 2px 2px #7f7f7f;
}
.sidebar .name-box .type select {
  background: #ffffff00;
  border: none;
}
.sidebar .name-box .portrait {
  background: #fff1da;
  border: 1px solid black;
  border-radius: 0px;
  margin: 2px;
  padding: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px #7f7f7f;
}
.sidebar .name-box .portrait img {
  border: none;
}
.sidebar .name-box h1.charname {
  background: #fff1da;
  font-family: Avant, sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 0px;
  margin: 2px;
  padding: 4px;
  box-shadow: 2px 2px #7f7f7f;
}
.sidebar .name-box h1.charname input {
  background: #ffffff00;
  border: none;
}
.sidebar .experience-group {
  margin: 2px;
  box-shadow: 2px 2px #7f7f7f;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sidebar .experience-group .experience {
  text-align: left;
}
.sidebar .experience-group .exp-boxes {
  background: #f9bd8d;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 1px solid black;
}
.sidebar .experience-group .exp-boxes img {
  border: none;
}
.sidebar .attributes-skills {
  margin: 2px;
  box-shadow: 2px 2px #7f7f7f;
}
.sidebar .attributes-skills .attribute-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  border: 1px solid black;
}
.sidebar .attributes-skills .attribute-list .attribute {
  background-color: #f9bd8d;
  font-family: Avant, sans-serif;
  padding: 3px;
  margin: 0px;
  color: black;
  font-weight: 500;
  font-size: 1.1em;
  font-style: normal;
  border-top: 1px solid black;
  justify-content: space-between;
}
.sidebar .attributes-skills .attribute-list .attribute input {
  background: white;
  max-width: 35px;
  max-height: 18px;
  text-align: right;
  border: 1px solid black;
  border-radius: 0px;
  box-shadow: 2px 2px #7f7f7f;
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 0.8em;
}
.sidebar .attributes-skills .attribute-list .skill-list {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}
.sidebar .attributes-skills .attribute-list .skill-list .skill {
  background-color: #fde5d2;
  font-family: Avant, sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  margin: 0px;
  padding-right: 3px;
  color: black;
  font-weight: 400;
  font-size: 1.1em;
  font-style: normal ;
  border-top: 1px solid black;
  justify-content: space-between;
}
.sidebar .attributes-skills .attribute-list .skill-list .skill input {
  background: white;
  max-width: 25px;
  max-height: 18px;
  text-align: right;
  border: 1px solid black;
  border-radius: 0px;
  box-shadow: 2px 2px #7f7f7f;
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 0.8em;
}
