/*****************************
/
/       Colors
*****************************/
/******************************
/        Fonts
******************************/
@font-face {
  font-family: Avant;
  src: url(fonts/AvantGuard.ttf);
}
@font-face {
  font-family: AvantBold;
  src: url(fonts/AvantBold.otf);
}
@font-face {
  font-family: SabonItalic;
  src: url(fonts/Sabon_Italic.ttf);
}
@font-face {
  font-family: SabonRoman;
  src: url(fonts/Sabon_Roman.ttf);
}
@font-face {
  font-family: Trixie;
  src: url(fonts/Trixie-Text.otf);
}
/******************************
/        Foundry overrides
******************************/
.editor-edit {
  box-shadow: 2px 2px #7f7f7f;
}
#context-menu li.context-item:hover {
  color: #f38704;
  text-shadow: none;
}
button:hover {
  box-shadow: 2px 2px #7f7f7f;
}
.window-app .window-content {
  background-color: white;
  background: white;
}
a:hover {
  box-shadow: none;
  text-shadow: none;
  color: #f38704;
}
.fa-edit:hover {
  text-shadow: none;
}
textarea {
  font-family: Trixie, 'Courier New', Courier, monospace;
  height: 100%;
}
textarea:focus {
  outline: 2px solid #f38704;
  box-shadow: 0 0 5px #ee7113;
}
h1,
h2 {
  font-family: AvantBold, sans-serif;
  font-weight: 700;
  border-color: #f38704;
}
h3,
h4,
h5,
h6 {
  font-family: Avant, sans-serif;
}
blockquote {
  font-family: Trixie, 'Courier New', Courier, monospace;
  background: url(img/chat_background.jpg);
  max-width: 90%;
  padding: 20px;
  border: none;
  break-inside: avoid;
  font-style: normal;
}
blockquote hr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
section.secret {
  font-family: SabonRoman;
  font-size: 1.1em;
}
#chat-form textarea {
  background: url(img/chat_background.jpg);
}
#chat-controls .roll-type-select {
  background: white;
}
#chat-log .message {
  border-color: #ee7113;
}
.chat-message {
  background: url(img/chat_background.jpg);
  font-family: Trixie, 'Courier New', Courier, monospace;
}
.app {
  color: white;
}
button {
  background: white;
}
.tabs .item.active {
  text-shadow: none;
  color: #f38704;
  border-bottom: 3px solid #f38704;
}
.sidebar-tab .directory-header .header-search input {
  background: white;
}
select:focus {
  box-shadow: none;
  border: 1px solid #f38704;
}
.editor-content img {
  border: none;
}
.editor-content table {
  background: #fff1da;
  border: none;
  font-family: AvantBold;
}
.editor-content table th {
  padding-left: 3px;
  background: black;
  color: white;
  text-align: left;
  font-family: AvantBold;
}
.editor-content table tr:nth-child(odd) {
  background: #fedd9e;
}
.editor-content .chapter-header {
  font-family: AvantBold;
  font-weight: 900;
  color: #ee7113;
  border-bottom: none;
  font-style: bold;
  padding-left: 5px;
}
.editor-content .lore-text {
  font-family: SabonItalic;
  padding-left: 5px;
  text-indent: 0px;
}
.editor-content .us-text {
  color: #f38704;
  font-weight: 300;
}
.editor-content .example-text {
  font-size: 0.9em;
  padding-left: 8px;
  border-left: dotted 2px #f38704;
  max-width: 90%;
  background: #fff1da;
  break-inside: avoid;
}
.editor-content .example-text p {
  text-indent: 0px;
}
.editor-content .major-heading {
  display: grid;
  grid-template-columns: 140px auto;
  justify-items: stretch;
}
.editor-content .chap-number {
  font-family: AvantBold;
  color: white;
  background-image: url('img/grunge.png');
  background-color: #fbba1c;
  object-fit: cover;
}
.editor-content .grunge {
  position: absolute;
  width: 140px;
  z-index: 7;
}
.editor-content .grunge img {
  border: none;
  object-fit: cover;
}
.editor-content .two-col {
  column-count: 2;
  column-gap: 3em;
  margin-top: 10px;
  margin-right: 10px;
  text-align: justify;
}
.editor-content h5 {
  font-size: 1.2em;
  font-family: AvantBold, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #f38704;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
  font-style: italic;
}
.editor-content h1 {
  font-size: 3.5em;
  border-color: black;
}
.editor-content h2 {
  font-size: 1.5em;
  border: none;
  text-align: left;
}
.editor-content h3 {
  font-family: AvantBold;
  text-align: left;
}
.editor-content p {
  text-indent: 25px;
}
.dice-result .dice-formula,
.dice-result .dice-total {
  background: #ffffff00;
  border: none;
  cursor: pointer;
}
.chat-header {
  flex: 0 1 0;
  margin-left: -7px;
  margin-right: -7px;
  padding-left: 7px;
  padding-right: 7px;
  justify-content: flex-start;
  align-items: flex-end;
  border-color: #f38704;
  border-bottom: 1px solid;
}
.chat-header .portrait {
  max-width: 48px;
  border: none;
  padding: 0 5px 0 0;
}
.chat-header h1 {
  font-family: Avant, sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  text-align: right;
  align-self: flex-end;
  border: none;
  color: #f38704;
}
.bug {
  text-align: center;
}
.bug img {
  border: none;
}
.reroll-info {
  margin-top: 3px;
  text-align: center;
}
.reroll-info button {
  background-color: #f38704;
  border: none;
  text-align: center;
  cursor: pointer;
  max-width: 100px;
}
.reroll-info button:focus {
  box-shadow: none;
}
.dice-roll {
  margin-top: 3px;
}
.imgCheck {
  cursor: pointer;
}
.use-luck {
  cursor: pointer;
}
.add-to-pool {
  cursor: pointer;
}
.add-to-pool:hover {
  font-weight: 700;
  color: #ee7113;
  text-shadow: 1px 1px #7f7f7f;
}
.reset-luck {
  cursor: pointer;
  text-align: right;
  max-width: 50px;
  padding-right: 3px;
}
.reset-luck:hover {
  font-weight: 700;
}
.window-content .dialog-content {
  background: url(img/chat_background.jpg);
  padding: 5px;
  box-shadow: 2px 2px #7f7f7f;
  margin-bottom: 3px;
}
.window-content .dialog-content .bug {
  text-align: center;
}
.window-content .dialog-content .bug img {
  border: none;
}
.window-content .dialog-content .pool-count {
  text-align: center;
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: 1.5em;
  border-bottom: 1px solid #7f7f7f;
}
.window-content .dialog-content .pool-details {
  padding-left: 20px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.window-content .dialog-content .pool-details .pool-detail {
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 1.2em;
  font-weight: 300;
  padding-left: 80px;
}
.window-content .dialog-content .pool-details .penalty {
  color: #f38704;
}
.window-content .dialog-content .pool-details .divider {
  margin-top: 2px;
}
.window-content .dialog-content .pool-details .pool-item-select {
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 1.2em;
  font-weight: 300;
}
.window-content .dialog-content .pool-details .pool-item-select select {
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 0.8em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #7f7f7f;
  border-radius: 0;
  background: #ffffff00;
}
.window-content .dialog-content .pool-details .bonus-dice {
  font-family: Trixie, 'Courier New', Courier, monospace;
}
.window-content .dialog-content .pool-details .bonus-dice label {
  flex: 0 0 120px;
  align-self: flex-end;
  font-size: 1.2em;
}
.window-content .dialog-content .pool-details .bonus-dice input {
  margin-left: 3px;
  border: none;
  border-bottom: 1px solid #7f7f7f;
  border-radius: 0;
  background: #ffffff00;
  width: 200px;
}
.window-content .dialog-content .pool-details .bonus-dice input:focus {
  box-shadow: none;
  border-bottom: 1px solid #f38704;
}
.section-header {
  background-color: black;
  padding: 5px;
  margin: 0px;
  font-family: Avant, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 1.2em;
  font-style: normal;
  justify-content: space-between;
}
.section-header .item-control {
  text-align: right;
}
.editor {
  height: auto;
  min-height: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.tox.tox-tinymce {
  border: none;
  flex: 1;
  min-height: 200px;
}
.kid-notes {
  background: #fff1da;
}
.main {
  display: table;
  margin-left: 5px;
  min-width: 70%;
  justify-content: flex-start;
}
.main #hideout {
  border: none;
  resize: none;
  height: 85%;
}
.main .notes-group {
  height: fit-content;
  background: #fff1da;
}
.main .items {
  min-height: 0px;
  background: #fff1da;
}
.main .hideout {
  flex: 1 1 auto;
  flex-direction: column;
  background: #fff1da;
  max-width: 250px;
}
.main .hideout .hideout-text {
  height: 85%;
}
.main .info-group {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0px;
  margin: 2px;
  padding: 0px;
  box-shadow: 2px 2px #7f7f7f;
}
.main .conditions {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 0px;
  margin: 2px;
  padding: 0px;
  box-shadow: 2px 2px #7f7f7f;
  margin-bottom: 4px;
  margin-top: 4px;
  line-height: 15px;
}
.main .conditions .info-item {
  font-size: 0.85em;
  line-height: 25px;
  padding-left: 2px;
  align-content: space-between;
}
.main .conditions .info-item p {
  margin: 0px;
}
.main .conditions .info-item img {
  border: none;
  vertical-align: middle;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.main .conditions .info-item input {
  background: #ffffff00;
  border: none;
}
.main .conditions .special-item {
  font-size: 0.85em;
  line-height: 25px;
}
.main .conditions .special-item img {
  border: none;
  vertical-align: middle;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.main .conditions .section-header {
  line-height: 25px;
}
.main .info-list {
  margin: 0px;
  padding-left: 0px;
}
.main .info-list .item {
  border-right: none;
}
.main .info-list .iconic-item {
  list-style: none;
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 1em;
  background: #fedd9e;
  border-top: 1px solid black;
  line-height: 34px;
  justify-content: space-between;
}
.main .info-list .iconic-item .item-name {
  flex: 0 0 60%;
  font-size: 0.8em;
}
.main .info-list .iconic-item .item-bonus {
  flex: 0 0 30px;
}
.main .info-list .iconic-item .item-plus {
  flex: 0 0 10px;
}
.main .info-list .iconic-item .item-control {
  flex: 0 0 30px;
  text-align: center;
}
.main .info-list .iconic-item input {
  margin-top: 3px;
  margin-right: 3px;
  background: #ffffff00;
  border: none;
  font-size: 1.2em;
}
.main .info-list .iconic-item input[type="text"]:focus {
  box-shadow: 0 0 5px #f38704;
}
.main .info-item {
  list-style: none;
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 1em;
  background: #fff1da;
  border-right: 1px solid black;
  border-top: 1px solid black;
  line-height: 34px;
  justify-content: space-between;
  align-content: space-between;
}
.main .info-item .item-name {
  flex: 0 0 60%;
}
.main .info-item .item-bonus {
  flex: 0 0 30px;
}
.main .info-item .item-plus {
  flex: 0 0 10px;
}
.main .info-item .relationship-name {
  flex: 0 0 150px;
}
.main .info-item .item-control {
  flex: 0 0 30px;
  text-align: center;
}
.main .info-item label {
  max-width: fit-content;
}
.main .info-item input {
  margin-top: 3px;
  margin-right: 3px;
  background: #ffffff00;
  border: none;
}
.main .info-item input[type="text"]:focus {
  box-shadow: 0 0 5px #f38704;
}
.main .info-item img {
  border: none;
}
.main .info-item select {
  background: #ffffff00;
  border: none;
}
.main .special-item {
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 1em;
  background: #f9bd8d;
  border-right: 1px solid black;
  border-top: 1px solid black;
  padding-top: 3px;
}
.main .special-item img {
  border: none;
  align-self: flex-end;
}
.kid-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.kid-header img {
  max-width: 50%;
}
.logo {
  border: none;
}
.sidebar {
  max-width: 30%;
}
.sidebar .name-box {
  margin: 0px;
}
.sidebar .name-box .type {
  background: #fff1da;
  border: 1px solid black;
  border-radius: 0px;
  margin: 2px;
  padding: 4px;
  box-shadow: 2px 2px #7f7f7f;
}
.sidebar .name-box .type select {
  background: #ffffff00;
  border: none;
}
.sidebar .name-box .portrait {
  background: #fff1da;
  border: 1px solid black;
  border-radius: 0px;
  margin: 2px;
  padding: 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px #7f7f7f;
}
.sidebar .name-box .portrait img {
  border: none;
}
.sidebar .name-box h1.charname {
  background: #fff1da;
  font-family: Avant, sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  border: 1px solid black;
  border-radius: 0px;
  margin: 2px;
  padding: 4px;
  box-shadow: 2px 2px #7f7f7f;
}
.sidebar .name-box h1.charname input {
  background: #ffffff00;
  border: none;
}
.sidebar .experience-group {
  margin: 2px;
  box-shadow: 2px 2px #7f7f7f;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sidebar .experience-group .experience {
  text-align: left;
}
.sidebar .experience-group .exp-boxes {
  cursor: pointer;
  background: #f9bd8d;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  padding: 2px;
  border: 1px solid black;
}
.sidebar .experience-group .exp-boxes img {
  border: none;
}
.sidebar .attributes-skills {
  margin: 2px;
  box-shadow: 2px 2px #7f7f7f;
}
.sidebar .attributes-skills .attribute-list {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
  border: 1px solid black;
}
.sidebar .attributes-skills .attribute-list .attribute {
  background-color: #f9bd8d;
  font-family: Avant, sans-serif;
  padding: 3px;
  margin: 0px;
  color: black;
  font-weight: 500;
  font-size: 1.1em;
  font-style: normal;
  border-top: 1px solid black;
  justify-content: space-between;
}
.sidebar .attributes-skills .attribute-list .attribute input {
  background: white;
  max-width: 35px;
  max-height: 18px;
  text-align: right;
  border: 1px solid black;
  border-radius: 0px;
  box-shadow: 2px 2px #7f7f7f;
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 0.8em;
}
.sidebar .attributes-skills .attribute-list .skill-list {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
}
.sidebar .attributes-skills .attribute-list .skill-list .skill {
  background-color: #fde5d2;
  font-family: Avant, sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  margin: 0px;
  padding-right: 3px;
  color: black;
  font-weight: 400;
  font-size: 1.1em;
  font-style: normal ;
  border-top: 1px solid black;
  justify-content: space-between;
}
.sidebar .attributes-skills .attribute-list .skill-list .skill input {
  background: white;
  max-width: 25px;
  max-height: 18px;
  text-align: right;
  border: 1px solid black;
  border-radius: 0px;
  box-shadow: 2px 2px #7f7f7f;
  font-family: Trixie, 'Courier New', Courier, monospace;
  font-size: 0.8em;
}
